:root{
    --voile-doux: #6C63FF;
    --voile-foce: #534EDD;
    --orange-vif: #FFA726;
    --gris-tres-fonce: #666;
    --gris-tres-clair:#F8F8F8;
    --gris-clair: #EEE;   
}

h1 {
    color: var(--gris-fonce)
  }